<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Rlmbase for kicad</title>
  <style type="text/css" media="all">
   {%  include "overmind.css" %}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header"><a href="{% url 'index' %}">RLMbase жуткое название для барахолки</a></div>
   <div id="nav">     
    <p><a href="{% url '3dmodels' %}">Список корпусов</a></p>
    <p><a href="{% url 'radioelem' %}">Запасы хомяка</a></p>    
    <p><a href="{% url 'places' %}">Хранилища</a></p>    
    <p><a href="{% url 'devices' %}">Устройства</a></p>    
   </div>
   <div id="aside">
    <h3>Новостная лента</h3>
    <p>Где химия;</p>
    <p>Нужно больше материалов;</p>
    <p>Нужно выдирать из железа новые ништяки;</p>
   </div> 
   <div id="content"> 
   <h3>{{ title_page }}</h3>
   <div id="search">
     <form action="{% url search_home %}" method="get">
       <a href="{% url search_home %}">Home</a> &bull;
       <label for="q">Search:</label><input type="text" name="q">
     </form>
   </div>
   {% block content %}
   {% endblock %}
   </div>
   <div id="footer">&copyleft; Valber <a href="/admin/">Дыра в заборе</a></div>
  </div>
 </body>
</html>
