<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Rlmbase for kicad</title>
  <style type="text/css" media="all">
   {%  include "overmind.css" %}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header"><a href="/base/">RLMbase for KiCAD</a></div>
   <div id="nav">
    <p><a href="/base/element/">Список компонентов</a></p>
    <p><a href="/base/component/">Список УГО</a></p>
    <p><a href="/base/footprint/">Footprints</a></p>
    <p><a href="/base/model3d/">Список трехмерных моделей</a></p>
   </div>
   <div id="aside">
    <h3>Новостная лента</h3>
    <p>одиннадцать человек дошли до финала;</p>
    <p>один человек правильно указал в каком стиле писал Диего Веласкес;</p>
    <p>только один человек знал, кто изобрел пароход;</p>
   </div> 
   <div id="content"> 
   <h3>{{ title_page }}</h3>
   {% block content %}
   {% endblock %}
   </div>
   <div id="footer">&copyleft; Valber <a href="/admin/">Дыра в заборе</a></div>
  </div>
 </body>
</html>
