{% extends "base_triada.html" %}
{% load thumbnail %}
{% block content %}
<table width="100%" border="4" frame="hsides">
{% for model in models %}
  <tr>
    <td><h3>{{ model.name }}</h3></td>
    <td>{{ model.number }}</td>
    <td><bold>{{ model.typedev }}</bold></td>
    <td>
      {% thumbnail model.corpus.draft "100x100" crop="center" as im %}
      <a src="{{MEDIA_URL}}{{im.url}}">
	<img src="{{MEDIA_URL}}{{im.url}}" width="{{im.width}}"></a>
      {% endthumbnail %}
      <p><a href="{{model.corpus.draft.url}}">{{ model.corpus.name }}</a><p>
    </td>
    {% if model.datasheet %}
      <td><a href="{{ model.datasheet }}">datasheet</a></td>      
    {% else %}
      <td>Empty</td>
    {% endif %}
    <td><p>{{ model.manufacturer }}<p></td>
    <td><p>{{ model.country }}<p></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
