{% extends "base_triada.html" %}
{% load thumbnail %}
{% block content %}


  {% for model in models %}
    <h2>{{ model.name }}</h2>
    <!--Thmbnail experiment-->
    {% thumbnail model.draft "100x100" crop="center" as im %}
    <a src="{{MEDIA_URL}}{{im.url}}">
      <img src="{{MEDIA_URL}}{{im.url}}" width="{{im.width}}"></a>
    {% endthumbnail %}


    {% if typedata == 'places'  %}    
      <table width="100%" border="0" cols="2">
	<col width="50%">
	<col width="50%">	
	<tr>
	  <td>
	    <p>Изображение</p>
	    {% if model.pics %}	    
	      <a src="{{MEDIA_URL}}{{model.pics.url}}">
		<img src="{{MEDIA_URL}}{{model.pics.url}}" width="100%"></a>
	    {% endif %}
	  </td>  
	  <td>
	    <p>Список компонентов</p>
	    <list>
	      {% for mate in model.radioelem_set.all %}	
		<li><a href="../element/{{ mate.name }}">{{ mate.name }}</a></li>	
	      {% endfor %}
	    </list>
	  </td>
	</tr>
	<tr>	
	  <td> 
	  <p>В чем содержиться</p>
	  {% if model.place.name %}	    
	    <a href="../place/{{  model.place.name }}">{{ model.place.name }}</a>
	  {% endif %}
	  </td>
	  <td> 
	    <p>Какие контейнеры находятся внутри</p>
	    <list>
	      {% for mate in model.child_set.all %}	
		<li><a href="../place/{{ mate.name }}">{{ mate.name }}</a></li>	
	      {% endfor %}	  
	    </list>
	  </td>
	</tr>
      </table>
    {% elif typedata == 'devices'  %}
      Пинг
      <p><bold>Справка: </bold><a href="{{ model.datasheet }}">datasheet</a></p>      
      <p><bold>Количество: </bold>{{ model.number }}</p>
      <p><bold>Описание: </bold>{{ model.typedev }}</p>
      <p><bold>BOM: </bold></p>
      <p>{{ model.bom }}</p>  
    {% endif %}    


  {% endfor %}


{% endblock %}
